body {
  padding-top: 40px;
  font-family: "Roboto", sans-serif;
  background: #e7dbf9;
}

.card {
  padding: 40px 40px 20px 40px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

form {
  padding-bottom: 40px;
  font-size: 18px;
}

#search-text-input {
  padding: 10px 20px;
  background: #f9f7fe;
  border: 1px solid #e7dbf9;
  border-radius: 6px;
  width: 450px;
}

#search-button {
  padding: 8px 30px;
  background: #885df1;
  color: white;
  margin-left: 12px;
  border-radius: 6px;
  border: none;
  font-weight: 400;
}

#search-button:hover {
  background: #6d15f2;
  transition: all 200ms ease-in-out;
}

#current-location-button {
  padding: 8px 30px;
  background: #3e8cd6;
  color: white;
  margin-left: 12px;
  border-radius: 6px;
  border: none;
  font-weight: 400;
}

#current-location-button:hover {
  background: #006dd3;
  transition: all 200ms ease-in-out;
}

.overview .row .col-7,
.col-5 {
  height: 300px;
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

.header-weather-unit {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  bottom: 32px;
  right: 20px;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: capitalizeFirstLetter;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.header-image {
  position: relative;
  bottom: 170px;
  left: 270px;
  float: left;
}

#weather-description {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  position: relative;
  bottom: 140px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

ul {
  list-style: none;
  line-height: 2;
  color: #676768;
  padding-top: 10px;
  margin: 10px 30px;
}

.forecast-day,
.forecast-temperature,
.forecast-description {
  font-weight: 500;
  line-height: 2;
  text-align: center;
}

.forecast-day {
  font-size: 16px;
}

.forecast-image {
  text-align: center;
}

.forecast-temperature,
.forecast-description {
  font-size: 14px;
}

.forecast-weather-unit {
  font-size: 10px;
  font-weight: 500;
  position: relative;
  bottom: 3px;
}

.footer-signature,
.footer-attribution {
  text-align: right;
  color: #676768;
}

.footer-signature {
  font-size: 12px;
  padding-top: 40px;
  font-weight: 550;
}

.footer-attribution {
  font-size: 9px;
  padding-top: 5px;
}

#github-link,
#attribution-link {
  color: #6d15f2;
  text-decoration: none;
}
